<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net452" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="1.0.0" targetFramework="net452" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net452" />
  <package id="NHibernate.Identity" version="0.5.0" targetFramework="net452" />
</packages>